<div class="container">
	<h1>Your Profile</h1>

	<p>Name: <%=teacher.name%></p>
	<p>Email: <%=teacher.email%></p>
	<p>Address: <%=teacher.address%></p>
	<p>Mobile Number: <%=teacher.tel%></p>
	<p>Sex: <%=teacher.sex%></p>
	<a class="btn btn-lg btn-success" href="/teacher">View all Teachers</a>
</div>