<div class="container">
	<h1>Your Profile</h1>

	<p>Name: <%=student.name%></p>
	<p>Email: <%=student.email%></p>
	<p>Address: <%=student.address%></p>
	<p>Age: <%=student.age%></p>
	<p>Department: <%=student.department%></p>
	<p>Class: <%=student.classLevel%></p>
	<p>Mobile Number: <%=student.tel%></p>
	<p>Sex: <%=student.sex%></p>
	<a class="btn btn-lg btn-success" href="/student">View all Students</a>
</div>